.header-comp {
  color: blue;
  text-align: center;
  h3 {
    color: red;
    @apply flex items-center justify-center w-32;
  }
  .header {
    //position: fixed;
    //left: 0;
    //top: 0;
    //width: 100%;
    //height: 56px;
    //padding: 0;
    //background: #673ab7;
    //box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    //z-index: 50;
    @apply justify-between flex w-full h-16;
  }
}
