//@import '~tailwindcss/dist/base';
//@import '~tailwindcss/dist/components';
//@import '~tailwindcss/dist/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;
//@import "tailwindcss/base";
//@import "tailwindcss/components";
//@import "tailwindcss/utilities";

@import 'src/components/page-layout/style.scss';
@import 'src/components/header/style.scss';
@import '../components/workshops/job-listing/job-card/style.scss';

@import 'src/routes/notfound/style.scss';
@import 'src/routes/home/style.scss';
@import 'src/routes/profile/style.scss';
@import '../routes/workshops/job-listing/style.scss';

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  //p {
  //  margin-bottom: 0 !important;
  //}

  html,
  body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #fafafa;
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #app {
    height: 100%;
  }

  * {
    box-sizing: border-box;
  }

  .card {
    @apply relative flex flex-col min-w-0 break-words bg-white bg-clip-border rounded border border-gray-300 border-solid;
  }

  .card-header {
    background-color: #00000003;
    border-color: rgba(0, 0, 0, 0.125);
    border-bottom-width: 1px;
    @apply px-5 py-3 mb-0 border-solid;
  }

  .card-body {
    min-height: 1px;
    @apply flex-auto p-5;
  }

  .divider {
    @apply my-4 border-b border-gray-500;
  }
}
